<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shumingpeh/price-optimization">Price Optimization</a></strong>
			- Price optimization of items, by structuring Quantity demanded (Q) in terms of Price (P) and other factors
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shumingpeh/spendoptimization">Spend Optimization</a></strong>
			- Spend optimization of paid acquisition using portfolio optimization theory
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shumingpeh/meanreversion_and_forecasting">Mean Reversion, and Forecasting</a></strong>
			- Utilizing statistical theory of mean reversion for content planning, and forecasting events revenue
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shumingpeh/length-of-stay">Prediction of length of stay</a></strong>
			- Using gradient boosting to predict a customer hospital length of stay
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shumingpeh/lead-time-modeling">Lead Time Modeling</a></strong>
			- Using structural equations to model lead time
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/shumingpeh/ltvmodel">Lifetime Value (LTV)</a></strong>
			- LTV is calculated using an ensemble of methods
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.up-tick.org">UpTick</a></strong>
			- Data (engineering, analytics and science) consultancy for SME/start-ups
		</h5>


    </div>
  </div>
</div>
</section>
